@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.jost{
  font-family: 'Jost', sans-serif;
}

.maincircle {
  width: 330px;
  height: 330px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

/* .dot {
  width: 20px;
  height: 20px;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 7s linear infinite;
}
.dot1 {
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-355px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-355px) rotate(-360deg);
  }
} */


